/* :root {
  --main-bg-color: #191A19;
  --secondary-bg-color: #1E5128;
  --accent-color1: #4E9F3D;
  --accent-color2: #D8E9A8;
} */

:root {
  --main-bg-color: #FEFDED;
  --secondary-bg-color: #A1C398;
  --accent-color1: #C6EBC5;
  --accent-color2: #2B3752;
  --text-color: #212427;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: #212427;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home--container {
  width: 600px;
  height: 600px;
  text-align: center;
  background-color: var(--secondary-bg-color); 
  /*linear-gradient(to bottom right, var(--secondary-bg-color), var(--accent-color1)) */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home--container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.home--container ul li{
  padding: 10px;
}

.home--container a {
  color: var(--text-color);
  text-decoration: none;
}

.home--container a:hover {
  color: var(--main-bg-color);
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
  position: relative;
}

.card--img {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

/* ADD */
.card--name{
  overflow: hidden;
  text-overflow: ellipsis;
}

